# Created by https://www.gitignore.io/api/code,fsharp
# Edit at https://www.gitignore.io/?templates=code,fsharp

### Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### fsharp ###
lib/debug
lib/release
Debug
*.suo
*.user
obj
bin
bin/*
obj/*
/build/
*.exe
!.paket/paket.bootstrapper.exe
.ionide/*
# End of https://www.gitignore.io/api/code,fsharp

